<main>
  <section>
    <h1>{{title}}</h1>
  </section>
  <section>
    <h2>My Events</h2>
    <tr *ngFor="let event of events">
      <td>{{ event.name }}</td>
      <td>{{ event.dates.start.localDate }}</td>
      <td>{{ event.dates.start.localTime }}</td>
      <td>{{ event._embedded.venues[0].name }}</td>
    </tr>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h4>Event Name</h4>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Event Date</p>
        <p>Event Location</p>
        <p>Event Price</p>
      </mat-card-content>
    </mat-card>
  </section>
</main>
