<main>
  <section>
    <h1>Search Ticketmaster events</h1>
  </section>
  <section>
    <h2>Search</h2>

    <ticketmaster-explorer-search-bar></ticketmaster-explorer-search-bar>
    
    <ticketmaster-explorer-grid-layout>
      <ng-container *ngFor="let event of events">
        <mat-card>
          <img mat-card-image src="{{ event.images[0].url }}" alt="{{ event.name }}">
          <mat-card-header>
            <mat-card-title>
              {{ event.name }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ event.dates.start.localDate }}</p>
            <p>{{ event.dates.start.localTime }}</p>
            <p>{{ event._embedded.venues[0].name }} - <span>{{ event._embedded.venues[0].address.line1 }}</span></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button >Buy Tickets</button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </ticketmaster-explorer-grid-layout>
  </section>
</main>
